main {
  font-family: sans-serif;
  font-size: 15px;
  display: flex;
  width: 900px;
  border: 1px solid black;
  margin: auto ;
}
h1,h2 {
  text-transform: uppercase;
}
h1{
  font-size: 3em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
h1 span{
  color: rgb(254,202,7);
}
h2{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h2 i{
 color: rgb(254,202,7);
 padding-right: 1em;
}
h3{
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h4{
  font-size: 0.8em;
  height:1em;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
h5{
margin-bottom: 0em;
margin-top: 1em;
padding-top: 0em;
padding-bottom: 0em;
}
aside {
  width:33%;
  background-color: rgb(254,202,7);
  margin-left: 0;
  padding-left: 0;
}
#photo{
  text-align : center;
  margin: 3em auto 3em auto;
}
#rond {
    width: 130px;
    height: 130px;
    overflow:hidden;
    border-radius:50%;
    box-shadow: 0px 0px 2px 2px #343434;
}
.asidetitre {
  text-align : center;
  background-color: black;
  color: rgb(254,202,7);
  height: 1.2em;
  padding-top: 0.2em;
  vertical-align: middle;
  line-height: 1.2em;
}
.asidepcontact{
  padding: 0 2em 3em 2em;
}
.asidepapropos{
  padding: 1em 2em 14em 2em;
}
.asideploisirs{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto ;
  padding-top: 1em;
}
main article{
  width: 77%;
  padding-left: 3em;
  padding-top: 2em;
  padding-right: 2em;
}
#titre{
padding-bottom: 4em;
}
hr {
  height: 2px;
  background-color: rgb(254,202,7);
  border: none;
}
#titre hr{
  background-color: rgb(254,202,7);
  width: 3.5em;  
  margin-top: 0px;
  margin-right: 95%;
  padding-top: 0px;

}
article section hr{
  padding-bottom: 0px;
  margin-right: 4em;
}
article section{
  margin-bottom: 2em;
}
ul{
	padding-left: 2em;
}
li {
	list-style-image: url("img/puce1.png");
}
li:first-child {
	list-style-image: url("img/puce2.png");
}
.bloc{
  display: flex;
  width: 100%;
  padding-left: 0.2em;
  margin-top: 0px;
  margin-right: 2em;
  padding-top: 0px;
  padding-bottom: 2em;
}
.titrebloc{
  width: 33%;
  padding-top: 0px;
}
.contenubloc{
  width: 77%;
	margin-top: 0px;
	padding-top: 0px;
  margin-right: 2em;
  padding-right: 2em;
  margin-right: 2em;
}
#recommandations{
  margin-right: 8em;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 780px) {
  body{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  main {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
   display: block;
  }
  main aside{
  width: 100%;
  margin: 0 0 0 0;
  }
  main article{
    width: 80%;
    margin:0 0 0 0;
  }
  article section{
    width: 100%;
    margin: 0 0 0 0;

  }
  li article{
    display: block;
     }
  .bloc{
    width: 100%;
    margin: 0 0 0 0;
  }
     #photo{
      margin: 0 0 0 0;
      padding-top: 2em;
    }
    .contenubloc{
      width: 100%;
      margin: 0 0 0 0;

      padding-right: 2em;
    }
    #recommandations{
       margin: 0 0 0 0;
    }
}
@media only screen and (max-width: 450px)
{
  body{
    width: 100%;
 margin: 0 0 0 0;
  }
  main{
    width: 100%;
    font-size: 10px;
    display: block;
    margin: 0 0 0 0;
  }
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1.3em;
  }
  h4{
    font-size: 1em;
  }
  #photo{
    margin: 0 0 0 0;
    padding-top: 2em;
  }
  #titre{
    padding-left: 0;
  }
  main aside{
    width: 100%;
    margin: 0 0 0 0;
  }
  main article{
    width:80%;
    margin: 0 0 0 0;
  }
  article section{
    padding-right: 0;
    margin:0 0 0 0;
  }
  .bloc{
    width: 100%;
    margin: 0 0 0 0;
  }
  .titrebloc{
    width: 33%;
  }
  .contenubloc{
    width:77%;
    margin: 0 0 0 0;
  }

  #recommandations{
    margin:0 0 0 0;
  }
}